@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Orbitron", sans-serif !important;
}

body {
  color: #fff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.banner_container {
  position: absolute;
  top: 0%;
}

.ant-drawer-title {
  color: #fff !important;
  font-size: 1.3rem !important;
}

.anticon-close {
  color: #fff !important;
  font-size: 1.3rem !important;

  &:hover {
    color: #fff253 !important;
  }
}

.ant-drawer-body {
  ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    li {
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2rem !important;

        &:hover {
          color: #fff253;
        }
      }
    }
  }
}

.ant-modal-content {
  background: #000 !important;
  color: #fff !important;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  .ant-modal-body {
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        color: #fff253;
        font-size: 1.2rem;
      }

      input {
        background: rgb(22, 22, 22);
        height: 2rem;
        outline: none;
        color: #fff253;
        font-size: 1.1rem;
        padding: 1.2rem;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .ant-modal-header {
    background: #000 !important;

    .ant-modal-title {
      color: #fff !important;
    }
  }
  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }
}

/* width */
::-webkit-scrollbar {
  display: none;
}
