.hero {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  background: #000;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
    border-right: 2px solid #444;
    position: relative;

    .circle_element {
      width: 7rem;
      height: 7rem;

      animation-name: spin;
      animation-duration: 10000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: reverse;

      @media (max-width: 800px) {
        display: none;
      }
    }

    h1 {
      font-size: 4rem;
      line-height: 7rem;
      text-align: center;
      color: #fff;
      padding: 1rem;

      @media (max-width: 768px) {
        margin-top: 2rem;
        font-size: 2.5rem;
      }
    }

    .display_mobile {
      display: none;

      @media (max-width: 800px) {
        display: block;
      }
    }

    p {
      text-align: center;
      line-height: 2rem;
      padding: 2rem;
      font-size: 1.1rem;

      @media (max-width: 800px) {
        font-size: 1rem;
      }
    }

    @media (max-width: 800px) {
      border-right: none;
    }
  }

  .right {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      display: none;
    }

    .right_bg {
      position: relative;
      display: flex;
      justify-content: center;

      .hero_circle {
        border-radius: 50%;
        filter: opacity(0.2);
        animation-name: spin;
        animation-duration: 16000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        overflow: hidden;
        width: 35rem;
        height: auto;
      }

      .hero_img {
        position: absolute;
        left: 10%;
        top: 5%;
        border-radius: 50%;
        width: 75%;
        height: auto;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
